@{
    ViewBag.Title = "Home";
}

<div class="jumbotron mainSec">
    <h1 id="homeHeader">Posh-Up Your Pup!</h1>
    <p id="homeButton"><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Outfits" }, Request.Url.Scheme)" class="btn btn-default btn-lg homeCTA"><span>Design an Outfit &raquo;</span></a></p>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2 class="sectionHeader">Tops</h2>
        <p>Explore coats, shirts and sweaters for any dog.</p>
        <p><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Tops" }, Request.Url.Scheme)" class="btn btn-default sectionButton"><span>View Tops &raquo;</span></a></p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2 class="sectionHeader">Bottoms</h2>
        <p>Find easy pull-up pants and tutu's that will make your dog's tail wag.</p>
        <p><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Bottoms" }, Request.Url.Scheme)" class="btn btn-default sectionButton"><span>View Bottoms &raquo;</span></a></p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2 class="sectionHeader">Shoes</h2>
        <p>Check-out our slip-on socks and shoes for the perfect paw.</p>
        <p><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Shoes" }, Request.Url.Scheme)" class="btn btn-default sectionButton"><span>View Shoes &raquo;</span></a></p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2 class="sectionHeader">Accessories</h2>
        <p>Add that extra bling with bandanas, collars and bows.</p>
        <p><a href="@Url.Action("Index", null, new { area = string.Empty, controller = "Accessories" }, Request.Url.Scheme)" class="btn btn-default sectionButton"><span>View Accessories &raquo;</span></a></p>
    </div>

</div>