@model WardrobeMVC.Models.Sho

@{
    ViewBag.Title = "Shoe Details";
}

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <h2 id="categoryHeader">
            @Html.DisplayFor(model => model.Name)
        </h2>

        <p>
            <img src="@Url.Content(Model.Photo)" class="img-responsive" />
        </p>

        <h4 id="propertiesText">
            Color: @Html.DisplayFor(model => model.Color)
        </h4>

        <h4 id="propertiesText">
            Season: @Html.DisplayFor(model => model.Season)
        </h4>

        <h4 id="propertiesText">
            Occassion: @Html.DisplayFor(model => model.Occassion)
        </h4>

        <h4 id="propertiesText">
            Type: @Html.DisplayFor(model => model.Type)
        </h4>

    </div>

</div>

<p id="propertiesText">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShoeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>