@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Tops";
}

<h2 id="topsHeader">Tops</h2>

<div class="alert alert-info alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    All tops now 25% off! Use promo code <strong>PUPTOPS25</strong> at check out!
</div>


<div class="row topsContent">

    @foreach (var item in Model)
    {
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 reviews">

            <h1>
                @Html.DisplayFor(modelItem => item.Name)
            </h1>
            
            @*put this in photo field: ~/Content/images/fauxfurcoat.jpg*@
            @*put this in photo field: ~/Content/images/tshirt.jpg*@
            @*put this in photo field: ~/Content/images/strawberrysweater.jpg*@

            <p>
                <img style="height: 219px" src="@Url.Content(item.Photo)" class="img-thumbnail img-responsive"/>

            </p>
            
            <h4>
                Color: @Html.DisplayFor(modelItem => item.Color)
            </h4>
            
            <h4>
                Type: @Html.DisplayFor(modelItem => item.Type)
            </h4>
            
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.TopID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TopID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TopID })
            </p>
        
        </div>
    }

</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>